{% extends 'board/base.html' %}

{% block content %}
    {% for board in list %}
        <table>
            <tbody>
                <tr><a href="{% url 'board_detail' pk=board.pk %}">{{ board.title }}</a></tr>
                <!-- <tr>{{ board.contents|linebreaksbr }}</tr> -->
                <tr> / 등록일자: {{ board.created_date }}</tr>
                <a href="{% url 'board_detail' pk=board.pk %}">Comments: {{ board.approved_comments.count }}</a>
            </tbody>
        </table>

    {% endfor %}
{% endblock content %}



